
# Типы данных в Python

## 1. Числовые(Numbers)

### 1.1. int

In [1]:
!jupyter notebook list

Currently running servers:
http://localhost:8888/?token=6c29458cc37f663efa3599323f895dae583ee48f74be117b :: /Users/mirzekishialiyev/PycharmProjects/My-Hse-Subjects

In [2]:
x = 11

In [3]:
print (x)

11

In [4]:
type(x)

int

In [5]:
"Hello world"

'Hello world'

### 1.2. Float

#### Float, or "floating point number" is a number, positive or negative, containing one or more decimals.

In [24]:
y = 5.7

In [25]:
print (y)
type(y)

5.7

float

In [26]:
a = 10
b = 8
print (a / b)
type(a/b)

1.25

float

#### Float can also be scientific numbers with an "e" to indicate the power of 10.

In [27]:
x = 35e3  # same as 35*10^3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

### 1.3. Complex

In [17]:
x = 3+5j
y = 5j
z = -5j

print(x)
type(x)
#print(type(y))
#print(type(z))

(3+5j)

complex

## 2. Boolean type

In [18]:
print(11 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [12]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

#### Evaluate Values and Variables

##### The bool() function allows you to evaluate any value, and give you True or False in return,

In [13]:
print(bool("Hello"))
print(bool(15))

True
True

#### Most Values are True
Almost any value is evaluated to True if it has some sort of content.

Any string is True, except empty strings.

Any number is True, except 0.

Any list, tuple, set, and dictionary are True, except empty ones.

In [14]:
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

True

In [15]:
a=str()  # empty string
bool(a)  
b=()     # empty tuple
bool(b)
print(bool(a), bool(b))

False False

In [16]:
# False bool

bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

## 3. None

In [17]:
z = None
print (z)
print (type(z))

None
<class 'NoneType'>

## 4. Строковые

#### 4.1. str

In [18]:
x = "abc"
print (x)
print (type(x))

abc
<class 'str'>

In [19]:
a = 'Ivan'
b = "Ivanovic"
s = a + " " + b
print (s)

Ivan Ivanovic

In [20]:
print(a.upper())
print (b.lower())

IVAN
ivanovic

In [21]:
len(a)

4

In [22]:
print (bool(a))
print (bool(""))

True
False

In [23]:
print (int(a)) # Невозможно перевести strinng на integer

ValueError: invalid literal for int() with base 10: 'Ivan'

In [24]:
# Call string
a
#a[0]
#a[3]
#a[0:2]

'Ivan'

In [25]:
# Вызывать b начиная с нуля до 9 шагом 2
b[0:9:2]

'Iaoi'

### 4.2.unicode

#### Юнико́д-стандарт кодирования символов, включающий в себя знаки почти всех письменных языков мира

In [26]:
#Python code for smiling
n="\u263A"
print(n)
type(n)

☺

str

In [29]:
k = "Элеонора Михайловна"
#k
# type(k)
l=k.encode('utf-8')
# type(l)
# print(l)
h=l.decode('utf-8')
print(h,type(h))

Элеонора Михайловна <class 'str'>

In [33]:
k[1:]
#print(len(k)-1, type(k))   # -1 это пробел

'леонора Михайловна'

In [34]:
# Разделять строка на части
splitted_line = k.split(' ')
print (splitted_line)

['Элеонора', 'Михайловна']

In [35]:
print (type(splitted_line))

<class 'list'>

In [36]:
print ("Иванов Иван Иванович".split(" "))

['Иванов', 'Иван', 'Иванович']

In [37]:
print ("\x98")



In [38]:
print (u"Иванов Иван Иванович".split(" "))

['Иванов', 'Иван', 'Иванович']

##### The 'u' in front of the string values means the string is a Unicode string. Unicode is a way to represent more characters than normal ASCII can manage. The fact that you're seeing the u means you're on Python 2 - strings are Unicode by default on Python 3, but on Python 2, the u in front distinguishes Unicode strings. The rest of this answer will focus on Python 2.

## 5. Массивы

### 5.1.List(Список)

##### List items are ordered, changeable, and allow duplicate values.

In [39]:
# Creation of list

income = ['Высокий', 'Средний', 'Высокий']
names = ['Элеонора Михайловна', 'Иван Иванович', 'Михаил Абрамович']

print (income)
print (names)

['Высокий', 'Средний', 'Высокий']
['Элеонора Михайловна', 'Иван Иванович', 'Михаил Абрамович']

In [40]:
print ("-".join(income))

Высокий-Средний-Высокий

In [48]:
# Negative indexing and range
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])   # Negative indexing begins from 1 but not from 0

['orange', 'kiwi', 'melon']

In [49]:
# Adding item to the list
thislist.append("Виноград")
thislist

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'Виноград']

In [50]:
# To add an item at the specified index, use the insert() method:
thislist.insert(1, "арбуз")
print(thislist)

['apple', 'арбуз', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'Виноград']

In [51]:
# Removing items
thislist.remove("Виноград")
thislist

['apple', 'арбуз', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [52]:
# The del keyword removes the specified index (or pop())
#del thislist[-1]
thislist.pop(-1)
thislist

['apple', 'арбуз', 'banana', 'cherry', 'orange', 'kiwi', 'melon']

In [53]:
#The del keyword can also delete the list completely:
#del thislist
#thislist

In [54]:
#The clear() method empties the list:
thislist.clear ()
thislist

[]

In [55]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
thislist

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [56]:
# Change Item Value
thislist[2]=("Яблочка")
thislist

['apple', 'banana', 'Яблочка', 'orange', 'kiwi', 'melon', 'mango']

In [57]:
# We can loop through the list items by using a for loop:
for x in thislist:
  print(x)

apple
banana
Яблочка
orange
kiwi
melon
mango

In [58]:
# To determine if a specified item is present in a list use the in keyword:
if "orange" in thislist:
  print("Yes, 'oraange' is in the fruits list")

#print("banana" in thislist)

Yes, 'oraange' is in the fruits list

In [59]:
# To determine how many items a list has, use the len() function:
len(thislist)

7

In [60]:
# Copy a list
mylist=thislist.copy() # or
 
mylist = list(thislist)
mylist

['apple', 'banana', 'Яблочка', 'orange', 'kiwi', 'melon', 'mango']

In [61]:
# Join Two Lists
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]
list1
list2
# list1 + list2 # or

# for x in list1:
#     list2.append(x)
# print(list2) # or Use the extend() method to add list2 at the end of list1:

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [62]:
# It is also possible to use the list() constructor to make a new list.
desired_teams=list(('Real Madrid','Bayern Munich', 'PSG'))   # note the double round-brackets
desired_teams

['Real Madrid', 'Bayern Munich', 'PSG']

### 5.2.Tuple(Кортеж)

#### A tuple is a collection which is ordered and unchangeable. In Python tuples are written with round brackets.

In [63]:
# Creating a tuple
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
#thistuple
thistuple[2:5]

('cherry', 'orange', 'kiwi')

In [64]:
# Indexing and negative indexing same as list 
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-5:-2])

('cherry', 'orange', 'kiwi')

#### Once a tuple is created, you cannot change, add, remove its values. Tuples are unchangeable, or immutable as it also is called.
    But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [65]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
#x = tuple(y)

print(y)

['apple', 'kiwi', 'cherry']

In [66]:
# We can't delete tuple items but we can delete tuple completely
del y
#y

### 5.3.Set(Множества)

#### A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets.

In [67]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'cherry', 'apple'}

In [68]:
# Check if "banana" is present in the set:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [69]:
# we cant access to set since it unordered
thisset[1]

TypeError: 'set' object is not subscriptable

In [70]:
# But we can to add one item to a set use the add() method
thisset.add("qarpiz") 
thisset
# or
thisset.update(["orange", "mango", "grapes"])

print(thisset)

{'orange', 'banana', 'qarpiz', 'apple', 'mango', 'grapes', 'cherry'}

In [71]:
# remove
thisset.remove("banana") # or 
thisset.discard("banana")
thisset

{'apple', 'cherry', 'grapes', 'mango', 'orange', 'qarpiz'}

In [75]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3=set2.union(set1)
set3
#or

# set1.update(set2)
# print(set1)

{1, 2, 3, 'a', 'b', 'c'}

In [76]:
# The issubset() method returns True if all items in the set exists in the specified set, 
#otherwise it retuns False.

set1.issubset(set2)

False

In [77]:
# The difference between the two sets 
set_A = {10, 20, 30, 40, 80}
set_B = {100, 30, 80, 40, 60,10}

set_A.difference(set_B) #for (A - B)
#set_A.issubset(set_B)

{20}

In [78]:
thisset
thisset.add(('Vladimir', 'Vladimirovich'))
print(thisset, type(thisset))

{'orange', 'qarpiz', ('Vladimir', 'Vladimirovich'), 'apple', 'mango', 'grapes', 'cherry'} <class 'set'>

### 5.4.Dictionary

#### A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [79]:
# thisdict = {
#   "brand": "Ford",
#   "model": "Mustang",
#   "year": 1964
# }
# print(thisdict)

thisdict=dict()
thisdict['brand']='Ford' # Here 'brand' is key and 'Ford' is a value
thisdict['model']='Mustang'
thisdict['year']=1964
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [80]:
# We can access the items of a dictionary by referring to its key name, inside square brackets:
thisdict['brand']

'Ford'

In [81]:
# You can change the value of a specific item by referring to its key name:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

In [82]:
from operator import itemgetter
from collections import OrderedDict

sorted_thisdict = OrderedDict(sorted(thisdict.items()))
sorted_thisdict

OrderedDict([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2018)])

In [83]:
# Loop through a key dictionary
for x in thisdict:
  print(x)

brand
model
year

In [254]:
# Loop through values

for x in thisdict:
    print(thisdict[x]) # or
    

#for x in thisdict.values():
 #   print(x)

Ford
Mustang
2018

In [256]:
# Loop through both keys and values
for key, value in thisdict.items():
  print(key,value)

brand Ford
model Mustang
year 2018

In [257]:
# Adding an item to the dictionary is done by using a new index key and assigning a value to it:

thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018, 'color': 'red'}

In [258]:
# The pop() method removes the item with the specified key name:

thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 2018, 'color': 'red'}

In [259]:
# The del keyword removes the item with the specified key name:

del thisdict["brand"]
print(thisdict)

{'year': 2018, 'color': 'red'}

In [260]:
# A dictionary can also contain many dictionaries, this is called nested dictionaries.

myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}
myfamily

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}

In [261]:
# Or create three dictionaries, then create one dictionary that will contain the other three dictionaries:

child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}
myfamily

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}

In [262]:
# It is also possible to use the dict() constructor to make a new dictionary:

thisdict = dict(brand="Ford", model="Mustang", year=1964)
# note that keywords are not string literals
# note the use of equals rather than colon for the assignment
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

## Где еще можно познакомиться с Python

* https://www.coursera.org/courses?query=Python
* https://www.codeacademy.com
* http://www.pythontutor.ru
* http://www.learnpythonthehardway.org
* http://snakify.org
* https://www.checkio.org