# Типы данных в Python

## 1. Числовые

### int

In [1]:
!jupyter notebook list

Currently running servers:
http://localhost:8888/?token=23d686bee908978b811fa079d15181237473e4d858c77a32 :: /Users/mirzekishialiyev
http://localhost:8889/?token=1d4fd16c2717c139f9f1db1f6f2e6134cc91659cba258289 :: /Users/mirzekishialiyev/PycharmProjects/My-Hse-Subjects

In [2]:
x = 5

In [3]:
print (x)

5

In [15]:
IPython.keyboard_manager.command_shortcuts.add_shortcut('Ctrl-k', {
    help : 'move up selected cells',
    help_index : 'jupyter-notebook:move-selection-up',
    handler : function (event) {
        IPython.notebook.move_selection_up();
        return false;
    }}
);

SyntaxError: invalid syntax (<ipython-input-15-c79c7caa8b0f>, line 4)

In [4]:
type(x)

int

In [5]:
a = 4 + 5
b = 4 * 5
c = 5 / 4

print (a, b, c)

9 20 1.25

In [7]:
print (-7 / 4)

-1.75

In [11]:
print (5 / 4)

1.25

### long

In [177]:
x = 5 * 1000000 * 1000000 * 1000000 * 1000000 + 1
print (x) 
type (x)

5000000000000000000000001

int

In [24]:
y = 5
print 
type(y)
y = x
print 
type(y)

int

### float

In [25]:
y = 5.7

In [27]:
print (y)
type(y)

5.7

float

In [28]:
a = 4.2 + 5.1
b = 4.2 * 5.1
c = 5.0 / 4.0

print (a, b, c)

9.3 21.419999999999998 1.25

In [30]:
a = 5
b = 4
print (float(a) / float(b))

1.25

In [249]:
print 5.0 / 4
print 5 / 4.0

1.25
1.25

In [31]:
print (float(a) / b)

1.25

### bool

In [100]:
a = True
b = False

print (a)
type(a)

print (b)
print (type(b))

True
False
<class 'bool'>

In [38]:
print (a + b)
print (a + a)
print (b + b)

1
2
0

In [40]:
print (int(a), int(b))

1 0

In [254]:
print True and False
print True and True
print False and False

False
True
False

In [41]:
print (True or False)
print (True or True)
print (False or False)

True
True
False

## 2. None

In [43]:
z = None
print (z)
print (type(z))

None
<class 'NoneType'>

In [224]:
print (int(z))

ValueError: invalid literal for int() with base 10: 'Элеонора Михайловна'

## 3. Строковые

### str

In [48]:
x = "abc"
print (x)
print (type(x))

abc
<class 'str'>

In [103]:
a = 'Ivan'
b = "Ivanovic"
s = a + " " + b
print (s)

Ivan Ivanovic

In [53]:
print(a.upper())
print (a.lower())

IVAN
ivan

In [74]:
len(a)

4

In [56]:
print (bool(a))
print (bool(""))

True
False

In [161]:
print (int(a)) # Невозможно перевести strinng на integer

ValueError: invalid literal for int() with base 10: 'Ivan'

In [105]:
b
#a[0]
#a[3]
#a[0:3]

'Ivanovic'

In [104]:
b[0:9:2]

'Iaoi'

### Complex

In [176]:
z = 1j
print(z, type(z))

1j <class 'complex'>

### unicode

#### Юнико́д-стандарт кодирования символов, включающий в себя знаки почти всех письменных языков мира

In [182]:
#Python code for smiling
n="\u263A"
print(n)
type(n)

☺

str

In [209]:
# k = "Элеонора Михайловна"
# k
# type(k)
# l=k.encode('utf-8')
# type(l)
# print(l)
h=l.decode('utf-8')
print(h,type(h))

Элеонора Михайловна <class 'str'>

In [192]:
print (str(x))

Элеонора Михайловна

In [217]:
k[1:]
# print len(y), type(y)
# print len(x), type(x)

'леонора Михайловна'

In [218]:
splitted_line = k.split(' ')
print (splitted_line)

['Элеонора', 'Михайловна']

In [219]:
print (type(splitted_line))

<class 'list'>

In [220]:
print ("Иванов Иван Иванович".split(" "))

['Иванов', 'Иван', 'Иванович']

In [223]:
print ("\x98")



In [222]:
print (u"Иванов Иван Иванович".split(" "))

['Иванов', 'Иван', 'Иванович']

## 3. Массивы

### list

In [411]:
income = ['Высокий', 'Средний', 'Высокий']
names = ['Элеонора Михайловна', 'Иван Иванович', 'Михаил Абрамович']

print (income)
print (names)

['Высокий', 'Средний', 'Высокий']
['Элеонора Михайловна', 'Иван Иванович', 'Михаил Абрамович']

In [234]:
print ("---".join(income))

Высокий---Средний---Высокий

In [339]:
# Negative indexing and range
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [340]:
# Adding item to the list
thislist.append("Виноград")
thislist

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'Виноград']

In [341]:
# To add an item at the specified index, use the insert() method:
thislist.insert(1, "арбуз")
print(thislist)

['apple', 'арбуз', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'Виноград']

In [342]:
# Removing items
thislist.remove("Виноград")
thislist

['apple', 'арбуз', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [343]:
# The del keyword removes the specified index (or pop())
#del thislist[-1]
thislist.pop(-1)
thislist

['apple', 'арбуз', 'banana', 'cherry', 'orange', 'kiwi', 'melon']

In [309]:
#The del keyword can also delete the list completely:
del thislist
#thislist

In [344]:
#The clear() method empties the list:
thislist.clear ()
thislist

[]

In [345]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
thislist

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [346]:
# Change Item Value
thislist[2]=("Яблочка")
thislist

['apple', 'banana', 'Яблочка', 'orange', 'kiwi', 'melon', 'mango']

In [401]:
# We can loop through the list items by using a for loop:
for x in thislist:
  print(x)

apple
banana
Яблочка
orange
kiwi
melon
mango

In [404]:
# To determine if a specified item is present in a list use the in keyword:
if "orange" in thislist:
  print("Yes, 'oraange' is in the fruits list")

#print("banana" in thislist)

Yes, 'oraange' is in the fruits list

In [349]:
# To determine how many items a list has, use the len() function:
len(thislist)

7

In [351]:
# Copy a list
mylist=thislist.copy() # or
 
mylist = list(thislist)
mylist

['apple', 'banana', 'Яблочка', 'orange', 'kiwi', 'melon', 'mango']

In [378]:
# Join Two Lists
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]
list1
list2
# list1 + list2 # or

# for x in list1:
#     list2.append(x)
# print(list2) # or Use the extend() method to add list2 at the end of list1:

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [379]:
# It is also possible to use the list() constructor to make a new list.
desired_team=list(('Real Madrid','Bayern Munich', 'PSG'))
desired_team

['Real Madrid', 'Bayern Munich', 'PSG']

### tuple

#### A tuple is a collection which is ordered and unchangeable. In Python tuples are written with round brackets.

In [464]:
# Creating a tuple
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
#thistuple
thistuple[2:5]

('cherry', 'orange', 'kiwi')

In [465]:
# Indexing and negative indexing same as list 
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

#### Once a tuple is created, you cannot change, add, remove its values. Tuples are unchangeable, or immutable as it also is called.
    But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [392]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [393]:
# We can't delete tuple items but we can delete tuple completely
del x
#x

## 4. Множества и словари

### set

#### A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets.

In [446]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'banana', 'cherry'}

In [425]:
# Check if "banana" is present in the set:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [421]:
# we cant access to set since it unordered
thisset[1]

In [466]:
# But we can to add one item to a set use the add() method
thisset.add("qarpiz") 
thisset
# or
thisset.update(["orange", "mango", "grapes"])

print(thisset)

{'grapes', 'orange', 'qarpiz', 'apple', 'cherry', 'Vladimir', ('Vladimir', 'Vladimirovich'), 'banana', 'mango'}

In [427]:
# remove
thisset.remove("banana") # or 
thisset.discard("banana")
thisset

{'apple', 'cherry', 'grapes', 'mango', 'orange', 'qarpiz'}

In [436]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3=set1.union(set2)
set3
#or

# set1.update(set2)
# print(set1)

{1, 2, 3, 'a', 'b', 'c'}

In [473]:
# The issubset() method returns True if all items in the set exists in the specified set, 
#otherwise it retuns False.

set1.issubset(set2)

False

In [486]:
# The difference between the two sets 
set_A = {10, 20, 30, 40, 80}
set_B = {100, 30, 80, 40, 60,10}

set_A.difference(set_B) #for (A - B)
#set_A.issubset(set_B)

{20}

In [452]:
thisset
thisset.add(('Vladimir', 'Vladimirovich'))
print(thisset, type(thisset))

{'grapes', 'orange', 'qarpiz', 'apple', 'cherry', 'Vladimir', ('Vladimir', 'Vladimirovich'), 'banana', 'mango'} <class 'set'>

### dict

#### A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [457]:
# thisdict = {
#   "brand": "Ford",
#   "model": "Mustang",
#   "year": 1964
# }
# print(thisdict)

thisdict=dict()
thisdict['brand']='Ford' # Here 'brand' is key and 'Ford' is a value
thisdict['model']='Mustang'
thisdict['year']=1964
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [468]:
# We can access the items of a dictionary by referring to its key name, inside square brackets:
thisdict['brand']

'Ford'

In [517]:
# You can change the value of a specific item by referring to its key name:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

In [493]:
# Loop through a key dictionary
for x in thisdict:
  print(x)

brand
model
year

In [504]:
# Loop through values
# for x in thisdict:
#    print(thisdict[x]) # or

for x in thisdict.values():
  print(x)

Ford
Mustang
2018

In [502]:
# Loop through both keys and values
for key, value in thisdict.items():
  print(key,value)

brand Ford
model Mustang
year 2018

In [518]:
# Adding an item to the dictionary is done by using a new index key and assigning a value to it:

thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018, 'color': 'red'}

In [519]:
# The pop() method removes the item with the specified key name:

thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 2018, 'color': 'red'}

In [520]:
# The del keyword removes the item with the specified key name:

del thisdict["brand"]
print(thisdict)

{'year': 2018, 'color': 'red'}

In [522]:
# A dictionary can also contain many dictionaries, this is called nested dictionaries.

myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}
myfamily

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}

In [524]:
# Or create three dictionaries, then create one dictionary that will contain the other three dictionaries:

child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}
myfamily

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}

In [525]:
# It is also possible to use the dict() constructor to make a new dictionary:

thisdict = dict(brand="Ford", model="Mustang", year=1964)
# note that keywords are not string literals
# note the use of equals rather than colon for the assignment
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [400]:
x=False
if x:
    print ("OK")
else:
    print ("NOT OK")
x

NOT OK

False

## Где еще можно познакомиться с Python

* https://www.coursera.org/courses?query=Python
* https://www.codeacademy.com
* http://www.pythontutor.ru
* http://www.learnpythonthehardway.org
* http://snakify.org
* https://www.checkio.org

#### The End!